# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
out

#kdevelop
*.kdev*

#passwords
*.json

#tex
*.tex*
*.dot
*.md5
*.sty
*.aux
*.idx
*.ilg
*.ind
*.toc
*incl.pdf
*dep.pdf
